
@import 'reset';

@import 'variables';
@import 'mixin';
@import 'layout';

@import '../../../node_modules/swiper/dist/css/swiper.min.css';


$background_width: 375px;

// body{
//     background-color: #fbfbfb;
// }
body.loading{
    overflow: hidden;
}

#drink_is_good{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 375px;
    height: 48px;
    background-image: url("../img/index/drink.png");
    @include full-image();
    z-index: 10;
}

#rotate_block{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    display: none;
    z-index: 100;
    position: fixed;
}

#banner{
    position: relative;
    background-image: url("../img/index/01_banner/background.png");
    // background-image: url("../img/index/01_banner/background.png"), linear-gradient(rgba(256, 256, 256, 0.8), transparent, transparent);
    @include full-image($background_width);
    height: 100vh;
    transform: translateY(200px);
    transition: transform .3s ease;
    transition-delay: .5s;

    &.scroll{
        transform: translateY(0);
    }

    .share{
        position: absolute;
        top: 70px;
        right: 20px;
        width: 46px;
        height: 59px;
        background-image: url("../img/index/01_banner/share.png");
        @include full-image();
        transition: opacity .3s ease;

        &:hover{
            opacity: .7;
        }
    }
    .text-container{
        @include absolute-center();
        top: 75px;
        width: 305px;
        height: 135px;

        .text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include full-image();
            transform: scale(2);
            opacity: 0;
            transition: all .05s linear;

            &.show{
                transform: scale(1);
                opacity: 1;
            }

            &.text--one{
                background-image: url("../img/index/01_banner/text_1.png");
                transition-delay: 0s;
            }
            &.text--two{
                background-image: url("../img/index/01_banner/text_2.png");
                transition-delay: .3s;
            }
            &.text--three{
                background-image: url("../img/index/01_banner/text_3.png");
                transition-delay: .33s;
            }
            &.text--four{
                background-image: url("../img/index/01_banner/text_4.png");
                transition-delay: .36s;
            }
        }
    }
    .hand-container{
        @include absolute-center();
        bottom: 0;
        width: 100vw;
        height: 485px;

        .hand{
            position: absolute;
            @include full-image();
            transition: transform .2s ease-out;
            
            &.cheer{
                transform: translate(0, 0) !important;
            }

            &.hand--left{
                left: 0;
                top: 0;
                width: 207px;
                height: 363px;
                background-image: url("../img/index/01_banner/hand_l.png");
                transform: translate(-100%, 0);
            }
            &.hand--right{
                right: 0;
                top: 80px;
                width: 197px;
                height: 342px;
                background-image: url("../img/index/01_banner/hand_r.png");
                transform: translate(100%, 0);
            }
            &.hand--middle{
                left: 0;
                bottom: 0;
                width: 250px;
                height: 389px;
                background-image: url("../img/index/01_banner/hand_m.png");
                transform: translate(-100%, 100%);
            }

        }
    }
}

#feature{
    background-image: url("../img/index/02_feature/background.png");
    @include full-image($background_width);
    height: 575px;

    .title{
        @include absolute-center();
        top: 25px;
        width: 126px;
        height: 46px;
        background-image: url("../img/index/02_feature/title.png");     
        @include full-image();
    }
    .feature-container{
        @include absolute-center();
        top: 100px;        
        width: 286px;

        .feature{
            @include full-image();
            margin: auto;
            margin-bottom: 25px;
            opacity: 0;
            transition: opacity .3s ease;

            &.show{
                opacity: 1;
            }


            &.feature--one{
                width: 286px;
                height: 117px;
                background-image: url("../img/index/02_feature/feature_1.png");
            }
            &.feature--two{
                width: 263px;
                height: 118px;
                background-image: url("../img/index/02_feature/feature_2.png");
            }
            &.feature--three{
                width: 264px;
                height: 135px;
                background-image: url("../img/index/02_feature/feature_3.png");
            }
        }
    }
}

#cheers{
    .block{
        position: relative;
        width: 100%;
        height: 500px;
        @include full-image($background_width);
        overflow: hidden;

        .text{
            position: absolute;
            left: 30px;
            top: 25px;
            width: 150px;
            font-size: 20px;
            font-style: italic;

            p{
                margin: 10px 0;
                opacity: 0;
                transform: translateX(-10px);
                transition: all .2s ease;

                &.show{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
        .my-hand-wrapper{
                position: absolute;
                left: 0;
                bottom: -30px;
                width: 275px;
                height: 392px;
                z-index: 2;

            .my-hand{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("../img/index/03_cheers/my_hand.png");
                @include full-image();
                z-index: 3;
            }
            .foam{
                position: absolute;
                top: -90px;
                right: 5px;
                width: 146px;
                height: 116px;
                @include full-image();
                background-image: url("../img/index/03_cheers/foam.png");
                z-index: 2;
                transform: scale(0);
                transform-origin: center bottom;
                transition: all .3s linear;

                &.show{
                    transform: scale(1);
                }
            }
        }
        &.block--one{
            background-image: url("../img/index/03_cheers/background_1.png");
        }
        &.block--two{
            background-image: url("../img/index/03_cheers/background_2.png");
            
            .another-hand{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 298px;
                height: 674px;
                background-image: url("../img/index/03_cheers/another_hand.png");
                @include full-image();
                z-index: 1;
                transform: translateX(100px);

                &.cheer{
                    animation: cheer .2s linear forwards;
                }

                @keyframes cheer{
                    0%{
                        transform: translateX(100px);
                    }
                    50%{
                        transform: translateX(0);
                    }
                    100%{
                        transform: translateX(50px) rotate(5deg);
                    }
                }
            }
        }
    }
}

#campaign{
    background-image: url("../img/index/04_campaign/background.png");
    @include full-image($background_width);

    .title{
        margin: 30px auto 15px;
        width: 144px;
        height: 42px;
        background-image: url("../img/index/04_campaign/title.png");     
        @include full-image();
    }
    .button{
        margin: 0 auto 20px;
        width: 336px;
        height: 180px;
        background-image: url("../img/index/04_campaign/button_1.png");     
        @include full-image();

        // &:after{
        //     @include white-mask();
        //     opacity: 0;
        //     transition: all .3s ease;
        // }
        // &:hover:after{
        //     opacity: .3;
        // }
    }
}

#lineup{
    background-image: url("../img/index/05_lineup/background.png");
    @include full-image($background_width);

    .title{
        margin: 30px auto 15px;
        width: 106px;
        height: 43px;
        background-image: url("../img/index/05_lineup/title.png");     
        @include full-image();
    }
    .slideshow-block{
        margin: 0 auto 20px;
        width: 100vw;
        @include flex-center();


        .product-container{
            width: 310px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .product{
                position: relative;
                display: inline-block;
                @include full-image();
                width: 144px;
                height: 184px;
                margin: 4px;

                // &:after{
                //     @include white-mask(178px, 216px);
                //     opacity: 0;
                //     transition: opacity .3s ease;
                // }
                // &:hover:after{
                //     opacity: .3;
                // }
                
                &.product--one{
                    background-image: url("../img/index/05_lineup/product_1.png");
                }
                &.product--two{
                    background-image: url("../img/index/05_lineup/product_2.png");
                }
                &.product--three{
                    background-image: url("../img/index/05_lineup/product_3.png");
                }
                &.product--four{
                    background-image: url("../img/index/05_lineup/product_4.png");
                }
            }
        }
    }
}

#tvcm{
    background-image: url("../img/index/06_tvcm/background.png");
    @include full-image($background_width);
    // height: 535px;

    .title{
        margin: 30px auto 15px;
        width: 75px;
        height: 42px;
        background-image: url("../img/index/06_tvcm/title.png");     
        @include full-image();
    }
    .slideshow-block{
        margin-bottom: 20px;
        width: 100vw;
        // @include flex-center();

        .cm{
            text-decoration: none;

            .cm__image{
                position: relative;
                width: 336px;
                height: 180px;
                margin: auto;
                @include flex-center();

                img{
                    width: 100%;
                    height: 100%;
                }
                .play{
                    @include absolute-center;
                    top: 0;
                    bottom: 0;
                    width: 55px;
                    height: 55px;
                    background-image: url("../img/index/06_tvcm/play.png");
                    @include full-image();
                    z-index: 2;
                }
            }
            .cm__name{
                text-align: center;
                color: #9e6a06;
                font-weight: 800;
                padding: 10px 0;
            }
        }
        .cm__pagination{
            position: relative;
            bottom: 0;
            .swiper-pagination-bullet{
                background-color: #fff;
                opacity: .7;
                &.swiper-pagination-bullet-active{
                    background-color: #9e6a06;
                }
            }
        }
    }
}

#social{
    background-color: #e5e0c2;

    .link-container{
        padding: 30px 20px;
        @include flex-center();
        .link-btn{
            position: relative;
            width: 166px;
            height: 88px;
            margin: 0px 5px;

            img{
                width: 100%;
                height: auto;
            }
            // &:after{
            //     @include white-mask(455px, 100px);
            //     opacity: 0;
            //     transition: opacity .3s ease;
            // }
            // &:hover:after{
            //     opacity: .3;
            // }
        }
    }
}